<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="fa97a7b2-5293-45c7-9373-d28f0bf39938"
            Publisher="CN=WayneWang"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>TableGameSidekick_Metro</DisplayName>
    <PublisherDisplayName>WayneWang</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="TableGameSidekick_Metro.App">
        <VisualElements
            DisplayName="TableGameSidekick_Metro"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="TableGameSidekick_Metro"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>